:root {
  --bg-black: #050505;
  --card-gray: #121212;
  --blood-red: #cc0000;
  --text-white: #e0e0e0;
}

body {
  background-color: var(--bg-black);
  color: var(--text-white);
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

.auth-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.brand-logo {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: var(--blood-red);
  margin-bottom: 0;
}

.login-btn {
  background: transparent;
  border: 2px solid var(--blood-red);
  color: white;
  padding: 15px 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
}

.login-btn:hover {
  background: var(--blood-red);
  box-shadow: 0 0 20px var(--blood-red);
}
