.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heatmap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 4px;
  margin-top: 10px;
}

.heat {
  width: 14px;
  height: 14px;
  background: #222;
}

.heat.low { background: #355f35 }
.heat.mid { background: #1f7a1f }
.heat.high { background: #33aa33 }
